<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Visual photo exploration site.">
  <meta name="author" content="Joshua Ferdaszewski">
  <title>Photo Discovery - {% block title %}Visual Photo Exploration{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
  <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block head_block %}{% endblock %}

</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a class="title" href="{% url 'visualize' %}">Photo Discovery</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">

      <ul class="left">
      {% if user.is_authenticated %}
        <li class="has-dropdown">
          <a href="#">My Albums</a>
          <ul class="dropdown">
            {% for album_in_list in albums %}
              
              <li class="{% if album.slug == album_in_list.slug %}active {% endif %}{{ album_in_list.share_id }}">
                <a href="{% url 'album_visualize' album_name_slug=album_in_list.slug %}">
                  {{ album_in_list.name }}
                </a>
              </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'upload' %}">Create a new album</a></li>
            <li><a href="{% url 'edit_albums' %}"><label>Edit Albums</label></a></li>
          </ul>
        </li>
      {% endif %}
      </ul>

      <ul class="right">
      {% if user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}">Hello {{ user.username }}!</a></li>
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'auth_login' %}">Login</a></li>
      {% endif %}
      </ul>
    </section>    
  </nav>

{% block body_block %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'foundation/js/foundation.min.js' %}"></script>

{% block end_body_block %}{% endblock %}
<script>$(document).foundation();</script>
</body>
</html>
