{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block body_block %}
  <h2 class="text-center">
    {{ album.name }}<br>
    <small><a href="{% url 'edit_albums' %}">Back to Albums</a></small>
  </h2>

{% if photos %}
    <div class="row">
      <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7" id="photo-wrapper">
      {% for photo in photos %}
        <li class="{{ photo.photo_id }}">
          <a class="th" href="{{ photo.original.url }}" style="background-color: {{ photo.metadata.pc_hex }}">
            <img class="column small-centered" src="{{ photo.thumbnail.url }}">
            <a class="button tiny alert expand delete-btn" data-photo-id="{{ photo.photo_id }}" href="#">Delete</a>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div id="del-confirm-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" area-hidden="true" role="dialog">
      <h3 id="modalTitle">Delete this Photo?</h3>
      <p class="lead">This cannot be undone!</p>
      <ul class="button-group radius even-3">
        <li>
          <a class="button tiny alert delete-confirm-btn">Yes, Delete Photo</a>
        </li>
        <li>                  
          <a class="button tiny close-modal">No!</a>
        </li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

{% else %}
  <p class="text-center">You don't have any photos in this album!</p>
{% endif %}
{% endblock %}

{% block end_body_block %}
<script src="{% static 'js/update_album.js' %}"></script>
{% endblock %}
