{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block body_block %}
  <h1 class="text-center">{{ album.name }}</h1>

{% if photos %}
    <div class="row">
      <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7" id="photo-wrapper">
      {% for photo in photos %}
        <li class="{{ photo.photo_id }}">
          <a class="th" href="{{ photo.original.url }}">
            <img class="column small-centered" src="{{ photo.thumbnail.url }}">
            <a class="button tiny alert expand delete-btn" data-photo-id="{{ photo.photo_id }}" href="#">Delete</a>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% else %}
  <p>You don't have any photos in this album!</p>
{% endif %}
{% endblock %}

{% block end_body_block %}
<script src="{% static 'js/update_album.js' %}"></script>
{% endblock %}
