{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block body_block %}
  <h1>Your Albums</h1>

{% if albums %}
  <ul  id="album-wrapper">
  {% for album in albums %}
    <li class="{{ album.share_id }}">
      <a href="">
        <span class="button tiny alert delete-btn" data-album-id="{{ album.id }}">Delete</span>
      </a>
      <a href="{% url 'edit_album' album_name_slug=album.slug %}">
        <span class="button tiny">Edit</span>
      </a>
      <a href="{% url 'album_visualize' album_name_slug=album.slug %}">
        <span class="button tiny success">View</span>
      </a>
      <a href="{% url 'album_visualize' album_name_slug=album.slug %}">
        {{ album.name }} <span class="secondary round label">{{ album.photo_count }} Photos</span>
      </a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>You don't have any Albums, <a href="{% url 'upload' %}">create one</a>!</p>
{% endif %}
{% endblock %}

{% block end_body_block %}
<script src="{% static 'js/update_albums.js' %}"></script>
{% endblock %}
