{% extends "visualize/base.html" %}

{% load staticfiles %}


{% block head_block %}
<!-- production
<script type="text/javascript" src="../js/plupload.full.min.js"></script>
-->

<!-- debug -->
<script src="{% static 'plupload/js/moxie.js' %}"></script>
<script src="{% static 'plupload/js/plupload.dev.js' %}"></script>
{% endblock %}


{% block body_block %}
  <div>
    <h2 class="text-center">Upload Files</h2>
  </div>

  <pre class="text-center" id="console">
    <div id="plupload-requirments">Your browser doesn't have Flash, Silverlight, or HTML5 support.</div>
  </pre>

  <div class="row">
      <form class="small-12 medium-6 columns" id="upload-form" method="POST" action="">
        {% csrf_token %}
        <label for="album-name">Album Name</label>
        <input id="album-name" type="text">
        <button class="button small" id="file-select">Select Images</button>
        <button class="button small" id="upload-btn" type="submit" value="Upload">Start Upload</button>
      </form>

    <div class="small-12 medium-6 columns">
      <div class="panel">
        <h5 class="text-center">Tips and Tricks</h5>
        <ul>
          <li>Upload 200+ images for best experience.</li>
          <li>Images must be jpg files and &lt 10mb.</li>
          <li>Album names must be unique.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="upload-progress"></div>
    <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-7" id="filelist">
    </ul>
  </div>
{% endblock %}


{% block end_body_block %}
<!-- Plupload js only works in a script tag -->
  <script type="text/javascript">
    function start_upload(up, name) {
      if (name.length === 0) {
        display_error("Please enter an Album Name");
        return;
      }

      // Ajax call to create album, display error if album name is not unique
      $.ajax({
        url: "{% url 'create_album' %}",
        data: {
          album_name: name,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        type: "POST",
        dataType: "json",

        success: function(json) {
          if (json['success']) {            
            // Start plupload upload of images
            up.start();
          } else {
            display_error(json['error_message']);
            return;
          }
        },

        error: function(xhr, status, errorThrown) {
          display_error("Ajax error");
          console.log(errorThrown);
          return;
        }
      });
    }


    function display_error(message) {
      document.getElementById('console').appendChild(document.createTextNode("\nError: " + message));
    }


    var uploader = new plupload.Uploader({
      // Plupload settings
      runtimes: 'html5,flash,silverlight',
      browse_button: 'file-select',
      url : "{% url 'upload_image' %}",
      file_data_name:'image',
      flash_swf_url: "{% static 'plupload/js/Moxie.swf' %}",
      silverlight_xap_url: "{% static 'plupload/js/Moxie.xap' %}",
      
      // Jpgs under 10mb only
      filters: {
        max_file_size: '10mb',
        mime_types: [
          {title: "Image files", extensions: "jpg, jpeg"},
        ]
      },

      // Plupload custom callback functions
      init: {
        PostInit: function(up) {
          document.getElementById('plupload-requirments').innerHTML = '';

          document.getElementById('upload-btn').onclick = function() {

            // Verify there are files
            if (up.total.queued > 0) {              
              up.settings.album_name = $.trim(document.getElementById("album-name").value);
              album_response = start_upload(uploader, up.settings.album_name);
            } else {
              display_error("Please select at lease one file to upload.")
            }
            
            // start_upload only returns on an error, otherwise starts the upload
            return false;
          };
        },

        FilesAdded: function(up, files) {
          plupload.each(files, function(file) {

            // Add li to the DOM for each file selected
            var li_item = '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ')<span class="file-upload-progress"></span></li>';
            
            var item = $( li_item ).prependTo( $( "#filelist" ) );
            var image = $( new Image() ).prependTo( item );

            // Instantiate the mOxie Image object.
            var preloader = new mOxie.Image();

            preloader.onload = function() {
              preloader.downsize(width=180, height=180, crop=true, preserveHeaders=false);
              image.prop("src", preloader.getAsDataURL());

              // Explicitly destroy the object to release it from memory
              preloader.destroy();
            }

            preloader.load(file.getSource());
          });

          document.getElementById("file-select").disabled = true;
          up.settings.total_files = up.total.queued;
        },

        // Add csrf token required by Django and the other form elements to request
        BeforeUpload: function(up, file) {
          document.getElementById("upload-btn").disabled = true;
          up.settings.multipart_params = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            album_name: up.settings.album_name
          };
        },

        UploadProgress: function(up, file) {
          document.getElementById(file.id).getElementsByClassName('file-upload-progress')[0].innerHTML = " " + file.percent + "%";
        },

        FileUploaded: function(up, file) {
          document.getElementById('upload-progress').innerHTML = 
          "<span>" + up.total.uploaded + "/" + up.settings.total_files + " - " + up.total.percent + "%</span>"
        },

        Error: function(up, err) {
          document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
        }
      }
  });


  uploader.init();
  </script>
{% endblock %}
