{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block head_block %}
<!-- production
<script type="text/javascript" src="../js/plupload.full.min.js"></script>
-->

<!-- debug -->
<script type="text/javascript" src="{% static 'plupload/js/moxie.js' %}"></script>
<script type="text/javascript" src="{% static 'plupload/js/plupload.dev.js' %}"></script>
{% endblock %}


{% block body_block %}
  <div>
    <h1>Upload Files</h1>
  </div>

  <p id="filelist">Your browser doesn't have Flash, Silverlight, or HTML5 support.</p>

  <form id="upload-form" method="POST" action="">
    {% csrf_token %}
    <label for="album-name">Album Name</label>
    <input id="album-name" type="text">
    <button id="file-select">Select Images</button>
    <button id="upload-btn" type="submit" value="Upload">Start Upload</button>
  </form>

  <pre id="console"></pre>

  <script type="text/javascript">    
    var uploader = new plupload.Uploader({

      // Plupload settings
      runtimes: 'html5,flash,silverlight',
      browse_button: 'file-select',
      url : "{% url 'upload_image' %}",
      file_data_name:'image',
      flash_swf_url: "{% static 'plupload/js/Moxie.swf' %}",
      silverlight_xap_url: "{% static 'plupload/js/Moxie.xap' %}",
      
      // Jpgs under 10mb only
      filters: {
        max_file_size: '10mb',
        mime_types: [
          {title: "Image files", extensions: "jpg, jpeg"},
        ]
      },

      // Plupload custom callback functions
      init: {
        PostInit: function() {
          document.getElementById('filelist').innerHTML = '';
          document.getElementById('upload-btn').onclick = function() {
            uploader.start();
            return false;
          };
        },
        FilesAdded: function(up, files) {
          plupload.each(files, function(file) {
            document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
          });
        },

        // Add csrf token required by Django and the other form elements to request
        BeforeUpload: function(up, file) {
          up.settings.multipart_params = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            album_name: document.getElementById("album-name").value
          };
        },

        UploadProgress: function(up, file) {
          document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
        },
        Error: function(up, err) {
          document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
        }
      }
  });

  function get_album_name() {
    return document.getElementById('album-name').value
  };

  window.onload = function() {
      uploader.init();
  };
  </script>
{% endblock %}
