{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block head_block %}
<!-- production
<script type="text/javascript" src="../js/plupload.full.min.js"></script>
-->

<!-- debug -->
<script type="text/javascript" src="{% static 'plupload/js/moxie.js' %}"></script>
<script type="text/javascript" src="{% static 'plupload/js/plupload.dev.js' %}"></script>
{% endblock %}


{% block body_block %}
  <div>
    <h1>Upload Files</h1>
  </div>

  <p id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</p>

  <form id="upload-form" method="POST" action="">
    {% csrf_token %}
    <input id="album-name" type="text">
  </form>

  <div id="file-upload-container">
      <a id="pickfiles" href="javascript:;">[Select files]</a> 
      <a id="uploadfiles" href="javascript:;">[Upload files]</a>
  </div>

  <pre id="console"></pre>

  <script type="text/javascript">    
    var uploader = new plupload.Uploader({
      runtimes: 'html5, flash, silverlight, html4',
      browse_button: 'pickfiles',
      container: 'file-upload-container',
      url : "{% url 'upload_image' %}",
      file_data_name:'image',
      multipart_params: {"csrfmiddlewaretoken": '{{ csrf_token }}', "album_name": "test-album"},

      flash_swf_url: "{% static 'plupload/js/Moxie.swf' %}",
      silverlight_xap_url: "{% static 'plupload/js/Moxie.xap' %}",
      
      filters: {
        max_file_size: '10mb',
        mime_types: [
          {title: "Image files", extensions: "jpg, jpeg"},
        ]
      },

      init: {
        PostInit: function() {
          document.getElementById('filelist').innerHTML = '';
          document.getElementById('uploadfiles').onclick = function() {
            uploader.start();
            return false;
          };
        },
        FilesAdded: function(up, files) {
          plupload.each(files, function(file) {
            document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
          });
        },
        UploadProgress: function(up, file) {
          document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
        },
        Error: function(up, err) {
          document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
        }
      }
  });

  function get_album_name() {
    return document.getElementById('album-name').value
  };

  window.onload = function() {
      uploader.init();
  };
  </script>
{% endblock %}
