{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block body_block %}

{% if album %}
  <h1>Hello {{ user.username }}! Here are your images!</h1>

  <h2>{{ album.name }} - Web sized images</h2>

  <ul class="clearing-thumbs" data-clearing>
    {% for image in images %}
      <li style="background-color: {{ image.metadata.pc_hex }};">
        <a href="{{ image.web.url }}"><img src="{{ image.thumbnail.url }}"></a>
        <p>{{ image.metadata.pc_hex }}</p>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'public_album_visualize' album_share_id=album.share_id %}">Share this album</a>
{% else %}
  <p>{{ error }}</p>
{% endif %}

{% endblock %}
