{% extends "visualize/base.html" %}

{% load staticfiles %}

{% block head_link %}
<link rel="stylesheet" href="{% static 'css/visualize.css' %}">
{% endblock %}

{% block head_script %}{% endblock %}

{% block body_block %}

{% if album %}

<div id="pre-load">
  Loading image <span id="pl-counter"></span> of <span id="pl-total"></span>
  <img src="{% static 'img/preloader.gif' %}">
</div>

<div id="album-wrapper" class="smooth">
  <div id="album-inner">

  {% for image in images %}
    <div class="image-wrapper" data-hexrgb="{{ image.metadata.pc_hex }}">
      <img class="ac-image" src="{{ image.web.url }}" alt="{{ image.original_name }}">
    </div>
  {% endfor %}

  </div>
</div>

<a href="{% url 'public_album_visualize' album_share_id=album.share_id %}">Share this album</a>

{% else %}
  <p>{{ error }}</p>
{% endif %}

{% endblock %}

{% block end_body_block %}
<script src="{% static 'imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/visualize.js' %}"></script>
{% endblock %}
